// styles.scss
@import "mixin";

html{
	font-family: "Arial", Times, serif;
	body{
		padding: 0;
		margin: 0;
		background-color: #5a5a5a;
		.content{
			@include box_sizing();
			width: 1000px;
			margin: 0 auto;
			padding: 20px;
			background-color: white;
			border-radius: 20px;
		}
		.uploadbox{
			padding: 10px auto;
		}
		section{
			margin-bottom: 20px;
			color: #5a5a5a;
		}
		#heading{
			// background-image: url("../images/zucc.jpg");
			// background-size: 100% 50%;
			// background-repeat: no-repeat;
			text-align: center;
			.title{
				font-size: 50px;
				margin: 0;
				margin-bottom: 40px;
				color: white;
				h1{
					margin: 0;
					span{
						font-size: 45px;
					}
				}
				.sub{
					font-size: 40px;
					line-height: 40px;
					margin: 0;
				}
			}
		}
		#intro{

		}
		#buttoncont{
			a{
				text-decoration: none;
			}
			.btn{
				width: 300px;
				height: 100px;
				line-height: 100px;
				font-weight: bold;
				font-size: 30px;
				color: white;
				background-color: black;
				margin: 0 auto 0 auto;
				border-radius: 2em;
				text-align: center;
				&:hover{
					background-color: #094c75;
				}
			}
		}	
	}
}