{% extends 'base.html' %}

{% block page_title %}
    SciDocParser
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/rango-jquery.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}

{% block body %}
    <header>
      <section id="heading">
        <div class="title">
          <h1>SanDPiper（仮）</h1>
          <h2 class="sub">-Scientific Document Parser-</h2>
        </div>
      </section>
    </header>
    <section id="intro">
      <div class="content">
        <h2>An online application for convinient browsing of scientific documents.</h2>
        <p>This web application organizes variables found throughout a scientific document in hopes of eliminating the task of shuffling through earlier pages to recall what that one variable represents.</p>
        <p>VERY EARLY IN DEVELOPMENT</p>
      </div>
    </section>
    <section id="buttoncont">
      <div class="content">
        <div class="uploadbox">
          <input type="file">
        </div>
        <a href=""><div class="btn">upload paper</div></a>
      </div>
      <div class="upload_box">
        
      </div>
    </section>

    <!-- <footer>
      footer
    </footer> -->
{% endblock %}