<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SDP</title>
		<link rel="stylesheet" href="app/css/styles.css" media="all">
	</head>
	<body>
		<header>
			<section id="heading">
				<div class="title">
					<h1>S<span>ci</span>D<span>oc</span>P<span>arser</span></h1>
					<h2 class="sub">-Online Scientific Document Parser-</h2>
				</div>
				<a href="https://github.com/shoyo-inokuchi/SciDocParser">GitHub Page</a>
			</section>
		</header>
		<button type="button">upload paper</button>
	</body>
</html>