<!DOCTYPE html>
<html>
    .
    <body>
        <h1>Mouse Location Test</h1>
        <p id="location"></p>


        <img id="image" src = "idea.png" alt="test" style = "width:100%;height:100%;">

        <script>
            document.addEventListener("mousemove",display)
            
            function display(){
                var x = event.clientX;
                var y = event.clientY;
                var coor = 'x' + x + 'y'+y;
                document.getElementById("location").innerHTML=coor;
            }

        </script>
    </body>







</html>