html {
  font-family: "Arial", Times, serif; }
  html body {
    padding: 0;
    margin: 0;
    background-color: #5a5a5a; }
    html body .content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 1000px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      border-radius: 20px; }
    html body .uploadbox {
      padding: 10px auto; }
    html body section {
      margin-bottom: 20px;
      color: #5a5a5a; }
    html body #heading {
      text-align: center; }
      html body #heading .title {
        font-size: 50px;
        margin: 0;
        margin-bottom: 40px;
        color: white; }
        html body #heading .title h1 {
          margin: 0; }
          html body #heading .title h1 span {
            font-size: 45px; }
        html body #heading .title .sub {
          font-size: 40px;
          line-height: 40px;
          margin: 0; }
    html body #buttoncont a {
      text-decoration: none; }
    html body #buttoncont .btn {
      width: 300px;
      height: 100px;
      line-height: 100px;
      font-weight: bold;
      font-size: 30px;
      color: white;
      background-color: black;
      margin: 0 auto 0 auto;
      border-radius: 2em;
      text-align: center; }
      html body #buttoncont .btn:hover {
        background-color: #094c75; }
